.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  border: none;
  padding: 0;
}
.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 32px;
}
.form__input {
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  height: 60px;
  margin-top: 8px;
}

.form__button {
  border-radius: 4px;
  opacity: 100%;
  background-color: #2f80ed;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  margin-top: 32px;
  margin-bottom: 0;
  border: none;
}
.form__button:hover {
  opacity: 70%;
  transition: opacity 0.2s linear ease-in-out;
}
.form__footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 120px;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.form__checkbox {
  border-radius: 2px;
  max-width: 20px;
  max-height: 20px;
  margin-right: 12px;
}
