.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 385px;
}
.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
}
.form__input {
  border-radius: 4px;
}
.form__footer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
}

.form__button[type="submit"] {
  border-radius: 4px;
  opacity: 100%;
  background-color: #2f80ed;
  color: white;
}
.form__button:hover {
  opacity: 70%;
  transition: opacity 0.2s linear ease-in-out;
}
.form__input[type="checkbox"] {
  border-radius: 2px;
}
