.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  width: 100%;
  min-height: 720px;
  max-height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 100%;
  padding-left: 80px;
}
.header__span-accent {
  font-family: serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}
.header__discription {
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 45%;
  margin-left: 80px;
  margin-top: -50px;
}
.header__image {
  max-width: 636px;
  max-height: 568px;
  position: absolute;
  left: 58%;
  top: 124px;
}
.header__footer {
  display: flex;
  justify-content: space-between;
  bottom: 40px;
  flex-grow: 1;
}
.header__paragraph {
  list-style-type: none;
  margin-left: 40px;
  bottom: 40px;
  padding-top: 10%;
}
.header__adress {
  position: relative;
  right: 80px;
  margin-top: 13.5%;
}
